 body {
 	margin: 0;
 	font-family: Helvetica, sans-serif;
 	position: relative;
 }

 *,
 *:before,
 *:after{
 	box-sizing: border-box;
 }

 .container{
 	padding-left: 30px;
 	padding-right: 30px;
 }

 .header{
 	position: absolute;
 	height: 10em;
 	width: 100%;

 }

 .header_{
 	display: flex;
 	justify-content: space-between;
 	padding: 30px 0;
 	align-items: center;
 }

 .nav{
 	display: flex;
 	font-size: 19px;
 	font-weight: 700;
 	margin: 0 50px;
 }

 .nav_link{
 	color:#000057;
 	margin-left:60px;
 	text-decoration: none;
 }

 .nav_link:hover{
 	color:white;
 }

 .header__{
 	height: 550px;
 	   background: url("/static/images/turz.jpg") center no-repeat;
 	background-size: cover;
 	padding-top:40px;
 	display:flex;
 	flex-direction: column;
 	justify-content: center;
 }

 .header__title {
 	font-family: Arial Black, sans-serif;
 	font-size: 60px;
 	text-align: center;
 	background: linear-gradient(90deg, rgba(139, 210, 232, 1) 0%, rgba(73, 138, 222, 1) 50%, rgba(117, 129, 255, 1) 100%);
 	background-size: 400% 400%;
 	-webkit-text-stroke: 1px black;
 	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
 	animation: rainbow 5s ease infinite;
 }

 @keyframes rainbow {
 	0% {
 		background-position: 0% 50%;
 	}

 	50% {
 		background-position: 100% 50%;
 	}

 	100% {
 		background-position: 0% 50%;
 	}
 }

 h1,h3{
 	margin:50px;
 	line-height: 2;
 }

 p {
 	margin: 50px 300px 10px;
 	font-size: 20px;
 	font-weight: bold;
 	color: #3B5998;
 	-webkit-text-stroke: 0.2px black;
 }

 .page{
 	padding-top: 50px;
 	padding-bottom: 13em;
 }

 .page_item{
 	border-bottom: 2px solid #918e8e;
 	padding-bottom: 11px;
 	padding-top: 10px;
 }

 .name,.mesto{
 	margin-bottom: 5px;
 	font-weight: bold;
 	font-size:18px;

 }
 .mesto{
 	color:#1E90FF;
 	-webkit-text-stroke: 0.3px black;
 	font-weight: bold;
 }
 .data{
 	color: #102C54;
 	font-style: italic;
 	font-size:16px;
 }
 .com{
 	margin-bottom: 5px;
 }

 span{
 	margin-right: 10px;
 	font-weight: bold;
 	color: black;
 }

 .text{
 	-webkit-text-stroke: 0.3px black;
 	font-size: 16px;
 	line-height: 1.2;
 	color: #102C54;
 	padding-right: 500px;
 }

 .footer {
 	text-align: center;
 	background-color: #4682B4;
 	padding: 30px 0;
 	height: 10em;
 	width: 100%;
 	position: absolute;
 	bottom: 0;
 }

 .footer_title {
 	display: inline;
 	font-size: 13px;
 	color: white;
 	text-transform: uppercase;
 	font-style: italic;
 }

 .nav_linka {
 	color: white;
 	font-size: 16px;
 	margin-left: 60px;
 	text-decoration: none;
 	opacity: 1;
 	transition: opacity .1s linear;
 }

 .photo{
 	width: 100px;
 	height: 100px;
 	transition: all 0.3s ease;
 }

 .photo:hover {
 	transform: scale(1.5);
 }

